<!DOCTYPE html>
<html>
    <head>
        <title>house price</title>
        <meta charset="utf-8">

    </head>
    <body>

        <div style="text-align: center;">
            <h1>House Price Prediction</h1>
        <form action="/result" method="POST">
            <label for="sqft">Square feet</label>
            <input type="text" id="sqft" name="sqft">
            <br>
            <br>
            <label for="bhk">No. of rooms</label>
            <select id="bhk" name="bhk">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
            </select>
            <br>
            <label for="bath">Bath rooms</label>
            <select id="bath" name="bath">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
            </select>
            <br>
            <br>
            <input type="submit" value="Submit">

        </form>
    </div>
    </body>

</html>